<nav class="navbar navbar-expand-lg full-bg-navbar">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">WiAcademy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav nav-underline" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a href="#home" class="nav-link" aria-current="page">Home</a>
                <a href="#services" class="nav-link">Our services</a>
                <a href="#course" class="nav-link">Our courses</a>
                <a href="#aboutUs" class="nav-link">About Us</a>
                <a href="#contactUs" class="nav-link">Contact Us</a>
                <a style="--clr: #7808d0" class="button nav-link" routerLink="/home">
                    <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 15">
                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                      <svg class="button__icon-svg button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg" width="10" fill="none" viewBox="0 0 14 15">
                        <path fill="currentColor" d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                    </span>
                    Explore All
                  </a>
            </div>
        </div>
    </div>
</nav>