<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-A7lxdSpMvXt98Jh9IgZbCQeDBlQXZgTPSiHfbrxJ7m9/JIbJ2V5RA3r3yYw0P2hLqLL6Dz3LMtxbbNYq2A2P0Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<!-- *********************** HEADER *********************-->

<app-header1></app-header1>
<!-- *********************** HOME *********************-->

 <section class="home" id="home">

 

<h1>Welcome to WiAcademy </h1>
<p>
      Discover a world of knowledge and learning at your fingertips.
  Explore our curated courses designed to empower you with skills and insights to succeed in today's fast-paced world.
  Whether you're a beginner or an expert , our platform offers something for everyone.
  Start your educational journey today!
</p>
<div class="btn">

  <a href="#services" class="purple">Learn More</a>
  <a routerLink="/home" class="orange">Visit Courses</a>
</div>
</section>

<!-- *********************** SERVICES *********************-->

<section id="services">
  <h1>Our Services</h1>
  <p>Your success, Our mission.</p>
  <div class="fea-base">
      <div class="fea-box">
        <i class="fas fa-globe"></i>
        <h3>Interactive Courses </h3>
         <p>
          Discover a wide array of interactive online courses that blend engaging video content with practical exercises. Each course is accompanied by a curated YouTube playlist, offering a comprehensive multimedia approach to learning. These playlists feature expert-led video tutorials and practical demonstrations, designed to enhance your understanding and keep you engaged. Whether you're interested in technology, design, or other fields, our courses provide a dynamic learning experience that adapts to your needs.
        </p>
  
      </div>
      <div class="fea-box">
        <i class="fas fa-certificate"></i>
        <h3>Comprehensive Educational Resources </h3>
         <p>
          Access a wealth of educational resources to complement your learning journey. Our platform offers a rich selection of materials, including detailed official documentation and supplementary resources that align with our courses. Each course links to its official documentation, providing in-depth information and additional context to support your studies. Dive into videos, articles, and interactive materials to enrich your knowledge and gain a deeper understanding of each subject.
        </p>
        
      </div>
      <div class="fea-box">
        <i class="fas fa-award"></i>
        <h3>Interactive Exercises and Solutions</h3>
        <p>
          Enhance your learning with our interactive exercises and solutions integrated into our YouTube playlists. Each course features a series of practical exercises that challenge you to apply your knowledge and develop your skills. The corresponding YouTube playlists provide detailed walkthroughs and solutions, helping you understand and correct your approach. This hands-on approach ensures you gain practical experience and receive immediate feedback, making your learning journey both effective and engaging
        </p>
        
      </div>
  </div>
</section>

<!-- *********************** COURSES *********************-->

<section class="course" id="course">
  <h1>Our Popular Courses</h1>
  <div class="paragraph-button-container">
    <p class="subtitle">Discover our popular courses and take your skills to new heights!</p>
          <!-- bouton : -->
          <div class="button-container">
            <button class="learn-more" routerLink="/home">
              <span class="circle" aria-hidden="true">
              <span class="icon arrow"></span>
              </span>
              <span class="button-text">See All</span>
            </button>
          </div>
  </div>


  <div class="course-box">
    <div class="courses">
      <a routerLink="/details/HTML 5">
        <img src="./assets/images/html1.png" alt="image" >
      </a>
      <div class="details">
        
        <h6>HTML Beginners Course</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(239)</span>
        </div>
      </div>
      
      <div class="duration">
        <i class="fa-solid fa-book-bookmark"></i> 
        18 chapters
      </div>
    </div>

    <div class="courses">
      <a routerLink="/details/CSS">
        <img src="./assets/images/css1.jpeg" alt="image"  class="image">
      </a>
      <div class="details">
        
        <h6>CSS Beginners Course</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <span>(100)</span>
        </div>
      </div>
     
      <div class="duration">
        <i class="fa-solid fa-book-bookmark"></i> 
        20 chapters
      </div>
     

      
    </div>

    <div class="courses">
      <a routerLink="/details/JavaScript">
        <img src="./assets/images/js1.jpg" alt="image" >
      </a>
      <div class="details">
      
        <h6>JavaScript Beginners Course</h6>
        <div class="star">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <span>(200)</span>
        </div>
      </div>
      

    <div class="duration">
      <i class="fa-solid fa-book-bookmark"></i> 
      10 chapters
    </div>
    </div>
  </div>

</section>


<!--*********************** CONTACT US : *********************-->



<section class="contactUs" id="contactUs"> 
  <div class="content">
    <h2>Contact Us </h2>
    <p>Have a question or feedback? We'd love to hear from you! Use the form below to send us a message,
      and our team will get back to you as soon as possible.
      Whether it's about our services, inquiries, or anything else, we're here to help.
      Reach out today and let's start the conversation!
    </p>

  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa-solid fa-map-location-dot"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>Bab El Okla, </p>
        </div>
      </div>

      <div class="box">
        <div class="icon"><i class="fa-solid fa-inbox"></i></div>
        <div class="text">
          <h3>Email</h3>
          <p>{{email}}</p>
        </div>
      </div>

      <div class="box">
        <div class="icon"><i class="fa-solid fa-phone"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <p>+212 654593679 </p>
        </div>
      </div>


    </div>

    <div class="contactForm">
      <form action="https://api.web3forms.com/submit" method="POST">
        <h2>Send Message</h2>
        <input type="hidden" name="access_key" value="94ef7f47-71ce-4e84-9a85-412c6a3b7a8d">
        <div class="inputBox">
          <input type="text" name="name" required title="name">
          <span>Full Name</span>
        </div>

        <div class="inputBox">
          <input type="email" name="email" required title="email">
          <span>Email</span>
        </div>

        <div class="inputBox">
          <textarea name="message" title="message" required></textarea>
          <span>Your Message ...</span>
        </div>

        <!-- BUTTON -->
        <button type="submit">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  fill="currentColor"
                  d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"
                ></path>
              </svg>
            </div>
          </div>
          <span>Send</span>
        </button>
        
      </form>

    </div>
  </div>

</section> 

<!--*********************** REVIEW  : *********************-->
<section id="rate" class="rate">
    <h1>Clients Says</h1>
  <div class="testimonial-box-container">

    <!-- RATE 1-->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="./assets/images/user1.jpeg" alt="">
          </div>
          <div class="name-user">
            <strong>TechLover123</strong>
            <span>{{email1}}</span> 
          </div>
        </div>
        <!-- reviews -->
         <div class="reviews">
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
         </div>
      </div>

      <!-- comments -->
       <div class="client-comment">
        <p>
          I've been using this e-learning platform for six months, and it has been amazing.
          The web development courses are detailed and beginner-friendly, helping me move from novice to intermediate easily.
          The design courses have also enhanced my skills, enabling me to create visually appealing websites.
          The knowledgeable instructors and regularly updated course material make this platform highly recommended for anyone wanting to improve their web development and design skills.
        </p>
       </div>
    </div>
    <!-- RATE 2 -->
    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="./assets/images/user1.jpeg" alt="">
          </div>
          <div class="name-user">
            <strong>CreativeMind</strong>
            <span>{{email2}}</span>
          </div>
        </div>
        <!-- reviews -->
         <div class="reviews">
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-regular fa-star" style="color: #FFD43B"></i>
         </div>
      </div>

      <!-- comments -->
       <div class="client-comment">
        <p>
          As a marketing professional, I found the marketing courses on this site very beneficial, with well-structured content covering fundamental and advanced strategies.
          The soft skills courses also improved my communication and leadership abilities. I gave it four stars instead of five because the mobile app programming courses could be more in-depth.
          Overall, it's a fantastic resource for continuous learning.
        </p>
       </div>
    </div>

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="./assets/images/user1.jpeg" alt="">
          </div>
          <div class="name-user">
            <strong>DevGuru</strong>
            <span>{{email3}}</span>
          </div>
        </div>
        <!-- reviews -->
         <div class="reviews">
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
         </div>
      </div>

      <!-- comments -->
       <div class="client-comment">
        <p>
         I highly recommend this e-learning site.
         The web development courses are excellent, offering hands-on projects for practical experience.
         The design and marketing courses have significantly advanced my career.
         I especially enjoyed the detailed mobile app programming courses, covering both Android and IOS development.
         The instructors are responsive and provide valuable feedback, enhancing the learning experience.
        </p>
       </div>
    </div>

    <div class="testimonial-box">
      <div class="box-top">
        <div class="profile">
          <div class="profile-img">
            <img src="./assets/images/user1.jpeg" alt="">
          </div>
          <div class="name-user">
            <strong>TechLover123</strong>
            <span>{{email4}}</span>
          </div>
        </div>
        <!-- reviews -->
         <div class="reviews">
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
          <i class="fa-solid fa-star" style="color: #FFD43B"></i>
         </div>
      </div>

      <!-- comments -->
       <div class="client-comment">
        <p>
          I've been using this e-learning platform for six months, and it has been amazing.
          The web development courses are detailed and beginner-friendly, helping me move from novice to intermediate easily.
          The design courses have also enhanced my skills, enabling me to create visually appealing websites.
          The knowledgeable instructors and regularly updated course material make this platform highly recommended for anyone wanting to improve their web development and design skills.
        </p>
       </div>
    </div>
    
  </div>
</section>

<!--*********************** FIND US : *********************-->
<section class="findUs" id="findUs">
  <div class="container">
    <h1>Find Us on Google Maps </h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3245.3176042632736!2d-5.368033611144988!3d35.5705519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0b4244b44ec25b%3A0x2b1d384d3a650f4d!2zQmFiIE9rbGEg2KjYp9ioINin2YTYudmC2YTYqQ!5e0!3m2!1sfr!2sma!4v1720789915929!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<!--*********************** EXPLORE ALL : *********************-->
<section class="explore" id="explore">
  <div class="explore-content">
    <h1>Explore More </h1>
    <div class="line"></div>
    <p>
      Ready to uncover all the incredible benefits and courses our website had to offer?
      Click the button below to dive deeper into a world of knowledge and opportunities awaiting you.
      Explore more and enrich your learning journey with us today !
    </p>
    <div class="explore-button">
      <button class="button" routerLink="/home">
        See More
        <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
          <path clip-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" fill-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>
</section>

<!--*********************** FOOTER : *********************-->
  <app-footer1></app-footer1>