@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*********************** SHARED : **************************/
*{
    font-size : 18px;
    font-family : 'Poppins', sans-serif;
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

/*********************** FOOTER : **************************/
#footer {
    background-color: #F5F5F5;
}

#footer .footerContainer {
    width : 100%;
    padding : 70px 30px 20px;
}

#footer .socialIcons {
    display : flex;
    justify-content : center;
}

#footer .socialIcons a {
    text-decoration: none;
    padding : 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

#footer .socialIcons a i {
    font-size : 1.75em;
    color : #ED6A00;
    opacity : 0.9;
}

#footer .socialIcons a:hover {
    background-color: #ED6A00;
    transition : 0.5s;
}

#footer .socialIcons a:hover i {
    color : white;
    transition : 0.5s;
}

#footer .footerNav {
    margin : 30px 0;
}

#footer .footerNav ul {
    display : flex;
    justify-content: center;
    list-style-type: none;
}

#footer .footerNav ul li a {
    color : #4F59D4;
    font-weight : 500;
    font-size : 20px;
    margin : 20px;
    text-decoration : none;
    font-size : 1.3em;
    opacity : 0.7;
    transition : 0.5s;
}

#footer .footerNav ul li a:hover {
    opacity : 1;
}

#footer .footerBottom {
    background-color: #4F59D4;
    padding : 20px;
    text-align : center;
}

#footer .footerBottom p {
    color : white;
}

#footer .designer {
    opacity : 0.7;
    text-transform : uppercase;
    letter-spacing : 1px;
    font-weight : 400;
    margin : 0px 5px;
}
